// 颜色定义规范
$color-background = #fff
$color-background-d =  #eee
$color-background-f =  #555
$color-highlight-background = #333
$color-background-filter = rgba(0, 0, 0, 0.3)
$color-dialog-background = #666
$color-theme = #9AD57F
$color-theme-f = #42bd56
$color-sub-theme = #d93f30
$color-text = #777
$color-text-f = #333
//$color-text-l = rgba(255, 255, 255, 0.5)
//$color-text-ll = rgba(255, 255, 255, 0.8)

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px
