// 颜色定义规范
$color-background = #fff
$color-background-filter = rgba(0, 0, 0, 0.3)
$color-background-d =  #eee
$color-background-f =  #555
$color-collect = #FE9800
$color-line = #ccc;
$color-theme = #9AD57F
$color-theme-f = #42bd56
$color-text = #777
$color-text-f = #333


//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px
